<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex h-[10vh] px-[10%] justify-between items-center bg-indigo-300 text-white">
        <img src="https://seeklogo.com/images/A/adobe-portfolio-logo-BD502F658C-seeklogo.com.png" alt="logo" width="50px" height="50px">
        <style>.shifted-text {
            margin-right: 900px;
            margin-left: 20px; 
            font-size: 28px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: black;
        }</style>
        <p class="shifted-text">Portfolio</p>

        <div class="flex gap-10">
            <a href="home.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="#" class="text-indigo-800">About</a>
            <a href="contact.html">Contact</a>
        </div>
    </div>

    <div class="h-[90vh] px-[10%] py-5">
        <h1 class="text-3xl font-bold mb-8">About me</h1>

        <div class="flex gap-10 mb-5">
            <div class="w-[300px] bg-indigo-100 p-2 rounded-md">
                <p class="font-bold">Name:</p>
                <p>Nazokat</p>
            </div>

            <div class="w-[300px] bg-indigo-100 p-2 rounded-md">
                <p class="font-bold">Last name:</p>
                <p>Kalnazarova</p>
            </div>

            <div class="w-[300px] bg-indigo-100 p-2 rounded-md">
                <p class="font-bold">E-mail:</p>
                <p>nazokatkalnazarova0283@gmail.com</p>
            </div>
        </div>

        <div class="flex gap-10">
            <div class="w-[300px] bg-indigo-100 p-2 rounded-md">
                <p class="font-bold">Phone:</p>
                <p>+998919395539</p>
            </div>

            <div class="w-[300px] bg-indigo-100 p-2 rounded-md">
                <p class="font-bold">Address:</p>
                <p>Nukus</p>
            </div>

            <div class="w-[300px] bg-indigo-100 p-2 rounded-md">
                <p class="font-bold">School:</p>
                <p>State school № 1</p>
            </div>
        </div>
    </div>
</body>

</html>