<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div class="flex h-[10vh] px-[10%] justify-between items-center bg-indigo-300 text-white">
        <div class="flex items-center gap-5">
            <img src="https://seeklogo.com/images/A/adobe-portfolio-logo-BD502F658C-seeklogo.com.png" alt="logo" width="50px" height="50px">
        <p class="text-3xl font-bold text-black">Portfolio</p>   
        </div>

        <div class="flex gap-10">
            <a href="home.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="about.html">About</a>
            <a href="#" class="text-indigo-800">Contact</a>
        </div>
    </div>

    <div class="flex items-center gap-10 justify-center h-[90vh] bg-gray-100">
        <a href="https://instagram.com/nazo_k_r?igshid=MmVlMjlkMTBhMg%3D%3D&utm_source=qr">
            <i class="fa-brands fa-instagram text-6xl"></i>
        </a>
        
        <a href="https://t.me/nazo_k_r">
            <i class="fa-brands fa-telegram text-6xl"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-facebook text-6xl"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-twitter text-6xl"></i>
        </a>
    </div>
</body>

</html>
